.logotipo{
    height: 200px;
}
main{
    background-color: gray;
    height: 200px;
    color: white;
}
footer{
    background-color: blue;
    height: 200px;
    color: white;
}
header{
    background-color: red;
}